
div{
border-radius: 5px;
border: 2px solid #6495ED;
background-color: #BCD2EE;
height: 50px;
width: 120px;
margin: auto;
text-align: center;
}
a{
text-decoration:none;
color:#808000;
font-weight:bold;
font-size:20px;
}
#demo4{
font-weight:bold;
font-family:Verdana;
color:#FF0000;
}

