body{
font-family:Verdana;
font-weight:bold;
}
h1{
font-weight:italic;
color:blue;
}
div{
border:5px;
color:Red;
border-radius:15px;
height:10px;
width:5px;
position:left;
}
.header {
  background-image: url("/home/likewise-open/AMRITAVIDYA/u316bca015/Desktop/index.jpeg");

  background-position:left;
  background-size:50px;
  height: 40px;
  width: 40%;
  text-align:left;
  position:left;
}
#header-text {
  margin:auto;
  position:left;
  text-align: center;
  top: 20%;
  width: 20%;
}
a{
position:left;
text-decoration:none;
}
#ak{
text-align:center;
color:#0000FF;
font-family:Verdana;
font-weight:italic;
}
